<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cx My Scraper" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "My Scraper", root_path, class: "navbar-brand home-text" %>
        <% if user_signed_in? %>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to "Keywords", keywords_path, class: "nav-link"  %>
            </li>
            <li class="nav-item">
              <%= link_to "Upload keyword csv", new_keyword_path, class: "nav-link" %>
            </li>
          </ul>
        <% end %>
  
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <span class="nav-link">Hello <%= current_user.email %>!</span>
              </li>
              <li class="nav-item">
                <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :get }, class: "nav-link"  %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="flash-container">
      <% if notice %>
        <div class="alert alert-success flash-message"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger flash-message"><%= alert %></div>
      <% end %>
    </div>
    <div class="row mt-4">
      <%= yield %>
    </div>
  </body>
</html>
